{% extends 'base.html' %} 

{% block title %}CONECTA-HUB{% endblock %} 

{% block content %}
<h1>{{ request.endpoint }}</h1>
<h2>Projetos</h2>
    <p>Esta página contém uma lista de projetos de nosso aplicativo.
        Nossos projetos são desenvolvidos por alunos do Grupo Unis, em São Lourenço, e são uma parte importante do nosso aprendizado e desenvolvimento. Sendo aprendidos dentro da nossa Sala de Aula.
    </p>

    <ul>
        <h2>Sobre</h2>
        <p>Nosso primeiro projeto é o site em si, sendo desenvolvidos pelos alunos do Grupo Unis, em São Lourenço, nosso projetos estão sendo revisados ao vivo e a cores, em nossa aula de Interação Humano Computador</p>

        <h2>Por que acessar nosso projeto?</h2>
        <p>Você pode acessar nosso projeto para ver como estamos aplicando o que aprendemos em sala de aula, além de acompanhar nosso progresso e contribuir com feedbacks construtivos.</p>
        
        <h2>Como acessar nosso projeto?</h2>
        <p>Para acessar nosso projeto, basta clicar no link do repositório acima. Você também pode nos seguir nas redes sociais para ficar por dentro das novidades e atualizações.</p>
        <a href="https://github.com/robsonkerner/ajuda-ai-app" target="_blank">Repositório do Projeto Atual</a>
        </a>

    <h3>Mais Projetos</h3>
        <ul>
            <!DOCTYPE html>
<div class="box"></div>
    <img src="https://cdn-images-3.listennotes.com/podcasts/projeto-aleat%C3%B3rio-projeto-aleat%C3%B3rio--H0mZivc17g-zEiuJw_2t1S.1400x1400.jpg" width="300" height="300">/>
    <span>Projeto X</span>
          
{% endblock %}
