{% extends 'base.html' %} 

{% block title %}CONECTA-HUB{% endblock %} 

{% block content %}
<h1>{{ request.endpoint }}</h1>
<!-- Conteúdo da página aqui -->
<style>

</style>
<dive><h1>Relatorio Semanais</h1></dive>
<h3>Nome do Funcionario:</h3>
<dive><p>Funcionario 1</p></dive>
<h3>Departamento:</h3>
<dive><p>Marketing</p></dive>
<h3>Semana:</h3>
<dive><p>Junho, 09-13, 2025</p></dive>
<h3>Tarefas Completas</h3>
<dive><p>funcionario fez as tarefas:<br />tarefa1<br />tarefa2<br />tarefa3</p></dive>
<h3>Tarefas em Andamento</h3>
<dive><p>Astarefas em andamento são:<br />tarefa4</p></dive>
<h3>Tarefas da Procima Semana</h3>
<dive><p>As terefas da procima semana são:<br />tarefa5<br />tarefa6<br />tarefa7<br />tarefa8</p></dive>
<h3>Apovado Por:</h3>
<dive><p>Supervisor5</p></dive>
<h3>Data:</h3>
<dive><p>09/06/2025</p></dive>
{% endblock %}